.fondo{
    position: fixed;
    z-index: -1;
    filter: brightness(65%);
    filter: blur(2px);
    left: 0;
    top: 0;
    width: 99%;
    height: auto;
}
h3{
  -webkit-text-stroke: 1px black;
}
mat-card{
  opacity: .9;
  background-color: rgb(0, 0, 0);
}